* {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
}
body {
        width: 100%;
        font-family: 'Uchen', serif;
}
h1{
        font-size: 50px;
}
.top-banner{
        background-image: url(images/top-banner.png);
        background-repeat: no-repeat;
}
.orange{
        color: orangered;
}
.one p{
        color: darkgray;
        padding-top: 4%;
}
.wrap{
        width: 90%;
        margin: 0 auto;
        display: flex;
        flex-wrap: wrap;
}
.box{
        flex: 1 1 500px;
}
.one{
        padding-top: 5%;
        padding-right: 5%;
}
.two img{
        width: 70%;
        padding-top: 5%;
}