* {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
}
body {
        width: 100%;
        font-family: 'Uchen', serif;
}
h1{
        font-size: 50px;
}
.btn{
        background-color: orangered;
        border: 1px solid orange;
        font-weight: bold;
        font-size: 20px;
        cursor: pointer;
        padding: 8px 30px;
        border-radius: 10px;
        text-decoration: none;
        color: greenyellow;
}
.top-banner{
        background-image: url(images/top-banner.png);
        background-repeat: no-repeat;
}
.orange{
        color: orangered;
}
.one p{
        color: darkgray;
        padding-top: 4%;
        padding-bottom: 4%;
}
.wrap{
        width: 90%;
        margin: 0 auto;
        display: flex;
        flex-wrap: wrap;
}
.box{
        flex: 1 1 500px;
}
.one{
        padding-top: 5%;
        padding-right: 5%;
}
.two{
        text-align: center;
}
.two img{
        width: 70%;
        padding-top: 5%;
}
.second-banner{
        background-image: url(images/dream-bg.png);
        background-repeat: no-repeat;
        background-position: right;
}
.second-wrap{
        width: 90%;
        margin: 0 auto;
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-end;
}
.four p{
        padding-right: 10%;
}

.shadow{
        box-shadow: 10px 10px 40px black;
        margin: 5% 3%;
        border-radius: 5px;
        padding: 2%;
}
.experience{
        padding-top: 10%;
        
}
.experience h1{
        text-align: center;
        height: 90px;
        width: 300px;
        background-image: linear-gradient(salmon, greenyellow);
        border-radius: 5px;
        margin: 0 auto;
}
.form-input{
        width: 80%;
        height: 70%;
        border: 2px solid black;
        border-radius:5px;
        font-size: 20px;
}
.form-input1{
        width: 90%;
        height: 50px;
        border: 2px solid black;
        border-radius:5px;
        font-size: 20px;
}
.form-input2{
        width: 90%;
        height: 150px;
        border: 2px solid black;
        border-radius:5px;
        font-size: 20px;
}
.inpput-div{
        margin: 1%;
}
.wrap1{
        width: 90%;
        margin: 0 auto;
}
.form-center{
        margin-left: 3%;
}
.submit-btn{
        margin: 1%;
        margin-top: 2%;
}
footer{
        text-align: center;
        padding: 5%;
}